@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
	scrollbar-width: none;
}


body {
	color: #000000;
}


a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.line-height-0 {
	line-height: 0;
}

/* custom Scroll bar */
/* width */
::-webkit-scrollbar {
	width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 10px;
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #0F75BC;
	border-radius: 10px;
}

/* input[type="date"]::-webkit-calendar-picker-indicator {
	background: url("./assets/svg/calander-cion.svg") center/80% no-repeat;
} */