@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Spartan', sans-serif;
}


body {
	color: #000000;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.line-height-0 {
	line-height: 0;
}

/* width */
::-webkit-scrollbar {
	width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px #F2F6FE;
	border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #0F75BC;
	border-radius: 10px;
}

/* .tooltip {
	color: #333;
	font-size: 12px;
	padding: 10px;
	position: absolute;
	text-align: center;
	z-index: 999;
	display: block;
	opacity: 0;
}

.legend {
	font-size: 12px;
}

rect {
	cursor: pointer;
	stroke-width: 2;
}

rect.disabled {
	fill: transparent !important;
}

.tooltip-donut path:hover {
	transform: translate(3px, 3px);
	transition: all 0.5s;
} */
